
{% if not shoppingCart %}

    Koszyk pusty

{% else %}
    {% set i = 0 %}
    {% for shoppingCartItem in shoppingCart %}
        <div class="cartItem">

            {{ shoppingCartItem.item }}<br>
            Ilość:{{ shoppingCartItem.quantity }}
            Rozmiar:{{ shoppingCartItem.size }}<br>
            {{ shoppingCartItem.color }}<br>
            {{ shoppingCartItem.price*shoppingCartItem.quantity }}<br>
            <br>
            <button id="deleteItemFromCart" value="{{ i }}">Usuń</button>
            <br>
            <br>
        </div>

        <br>
        {% set i = i + 1 %}
    {% endfor %}
    <br>
    Suma: {{ app.session.get('cartPrice') }}
    <br>
    <br>
    <button id="clearCart">Opróżnij koszyk</button><br><br>
    <a href="{{ path('making_order') }}"><button>Przejdź do zamówienia</button></a>

{% endif %}



