<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
        <link href="{{ asset('build/css/mainpage.css') }}" rel="stylesheet" >
        <link href="{{ asset('build/css/modal.css') }}" rel="stylesheet" >
    {% endblock %}
</head>
<body id="body">
<main>
{% block header %}
<header>
    <nav class="navbar navbar-expand-lg" id="navbarExpandLg">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-reorder"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul>
                <li>
                    <a class="nav-bar-text-button" href="{{ path('main') }}">Strona główna</a>
                </li>
                <li>
                    <a class="nav-bar-text-button" href="{{ path('addProductForm') }}">Dodaj produkt</a>
                </li>
                <li>
                    <a class="nav-bar-text-button" href="{{ path('addDelivery') }}">Dodaj sposób wysyłki</a>
                </li>
                <li class="nav-item dropdown" >
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Zamówienia
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" href="{{ path('orders', {'status':'Niezapłacone'}) }}">Niezapłacone</a>
                        <a class="dropdown-item" href="{{ path('orders', {'status':'Zapłacone'}) }}">Zapłacone</a>
                        <a class="dropdown-item" href="{{ path('orders', {'status':'Przygotowane do wysyłki'}) }}">Przygotowane do wysyłki</a>
                        <a class="dropdown-item" href="{{ path('orders', {'status':'Wysłane'}) }}">Wysłane</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="{{ path('adminPanel') }}">Wszystkie</a>
                    </div>
                </li>
                <li style="border-right: solid 0px">
                    <a class="nav-bar-text-button" href="{{ path('getUsers') }}">Zarządzaj użytkownikami</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="nav-underline"></div>
</header>

{% endblock %}
<div class="shopppingCart" id="shoppingCart"></div>
    <div class="test2"></div>

{% block body %}{% endblock %}
</main>
{% block orders %}{% endblock %}

{% block footer %}{% endblock %}
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script>
    $(document).ready(function() {
        $("#showCart").click(function () {
            showShoppingCart();
            return false;
        });

        $("#login").click(function () {
            login();
            return false;
        });
    });

    function addNewProduct() {
        var main = document.getElementsByTagName('main');
        var form = document.getElementById('addProductForm');

        if (!main[0].contains(form)) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    main[0].innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "{{ path('addProductForm') }}", false);
            xhttp.send();
        }
    }





    function login(){
        const xhttp = new XMLHttpRequest();
        var loginform = document.getElementById('loginform');
        if(loginform.style.display === "none"){
            if(loginform.innerHTML === ""){
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        loginform.innerHTML = this.responseText;
                    }
                };
                xhttp.open("GET", {{ path('fos_user_security_login') }}, false);
                xhttp.send();
            }
            document.getElementById('login').style.display="none";
            loginform.style.display = "block";
        }else{
            loginform.style.display = "none";
        }
    }


    function showShoppingCart(){
        var cart = document.getElementById('shoppingCart');


        if (cart.style.display === 'none') {
            cart.style.display = 'block';
            if (cart.innerHTML === "") {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        cart.innerHTML = this.responseText;
                    }
                };
                xhttp.open("GET", "{{ path('shoppingCart') }}", false);
                xhttp.send();
            }
        } else {
            cart.style.display = 'none';
        }
    }

</script>
{% block javascripts %}
{% endblock %}
</body>
</html>

