{% extends 'admin/index.html.twig' %}

{% block body %}
    <div class="orderList" style="border-radius: 10px;">
        <table cellpadding="5px" border="1" rules="cols">
            <tr class="tableHead">
                <td>Id</td>
                <td>Status</td>
                <td>Szczegóły</td>
                <td>Adres</td>
                <td>Metoda dostawy</td>
                <td>Zmień status</td>
            </tr>
            {% for order in orders %}

             <tr>
                 <td>{{ order.id }}</td>
                 <td id="status{{ order.id }}">{{ order.status }}</td>
                 <td><button onclick="showProductDetails({{ order.id }})" id="showProductDetails{{ order.id }}">pokaż szegóły</button>

                 </td>
                 <td>{{ order.address.streetnr }}</td>
                 <td>{{ order.packageMethod.method }}</td>
                 <td id="changeStatus{{ order.id }}">
                     {% if order.status == "Niezapłacone" %}
                         <select id="selectStatus{{ order.id }}">
                             <option value="option1" >Zapłacone</option>
                             <option value="option2">Przygotowane do wysyłki</option>
                             <option value="option3">Wysłane</option>
                         </select>
                         <button type="button" value="{{ order.id }}" class="patchOrderStatus">Uaktualnij</button>
                     {% elseif order.status == "Zapłacone" %}
                         <select id="selectStatus{{ order.id }}">
                             <option value="option1" >Przygotowane do wysyłki</option>
                             <option value="option2">Wysłane</option>
                             <option value="option3">Niezapłacone</option>
                         </select>
                         <button type="button" value="{{ order.id }}" class="patchOrderStatus">Uaktualnij</button>
                     {% elseif order.status == "Przygotowane do wysyłki" %}
                         <select id="selectStatus{{ order.id }}">
                             <option value="option1" >Wysłane</option>
                             <option value="option2">Niezapłacone</option>
                             <option value="option3">Zapłacone</option>
                         </select>
                         <button type="button" value="{{ order.id }}" class="patchOrderStatus">Uaktualnij</button>
                     {% elseif order.status == "Wysłane" %}
                         Zakończono
                     {% endif %}

                     <div id="test"></div>
                 </td>
             </tr>
             <tr>
                 <td colspan="2"></td>
                 <td colspan="3">
                    <div id="details{{ order.id }}" style="display: none;">
                        <table cellpadding="5px">
                            <tr>
                                <td>Nazwa</td>
                                <td>Rozmiar</td>
                                <td>Kolor</td>
                                <td>Ilość</td>
                            </tr>
                        {% for detail in order.orderDetails %}
                                <tr>
                                    <td>{{ detail.productId }}</td>
                                    <td>{{ detail.size }}</td>
                                    <td>{{ detail.color }}</td>
                                    <td>{{ detail.quantity }}</td>
                                </tr>

                        {% endfor %}
                        </table>
                    </div>
                 </td>
             </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}


{% block javascripts %}
    <script>
        $('.showProductDetails').click(function(){
            showProductDetails();
            return false;
        });

        $('.patchOrderStatus').click(function(){
            putOrderStatus(this.value);
            return false;
        });



        function putOrderStatus(id) {
            var selector = document.getElementById('selectStatus'+id);
            var selectedStatus = selector[selector.selectedIndex].text;

            let vars = "status="+selectedStatus;

            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    if(selectedStatus === "Wysłane"){
                        document.getElementById("status"+id).innerHTML = selectedStatus;
                        document.getElementById("changeStatus"+id).innerHTML = "Zakończono";
                    }else{
                        document.getElementById("status"+id).innerHTML = selectedStatus;

                        if(selectedStatus === "Niezapłacone"){
                            document.querySelector('td#changeStatus'+id+' option[value=option1]').text = "Zapłacone";
                            document.querySelector('td#changeStatus'+id+' option[value=option2]').text = "Przygotowane do wysyłki";
                            document.querySelector('td#changeStatus'+id+' option[value=option3]').text = "Wysłane";
                        }
                        if(selectedStatus === "Zapłacone"){
                            document.querySelector('td#changeStatus'+id+' option[value=option1]').text = "Przygotowane do wysyłki";
                            document.querySelector('td#changeStatus'+id+' option[value=option2]').text = "Wysłane";
                            document.querySelector('td#changeStatus'+id+' option[value=option3]').text = "Niezapłacone";
                        }
                        else if(selectedStatus === "Przygotowane do wysyłki"){
                            document.querySelector('td#changeStatus'+id+' option[value=option1]').text = "Wysłane";
                            document.querySelector('td#changeStatus'+id+' option[value=option2]').text = "Niezapłacone";
                            document.querySelector('td#changeStatus'+id+' option[value=option3]').text = "Zapłacone";
                        }

                    }
                }
            };

            var url = "{{ path('update_order_status', {'id': 'idJS'}) }}";

            url = url.replace("idJS", id);

            xhttp.open("PUT", url, false);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(vars);

        }

        function showProductDetails(id){
            var details = document.getElementById('details'+id);

            if(details.style.display === "none")
                details.style.display = "block";
            else
                details.style.display = "none";
        }
    </script>
{% endblock %}