{% extends 'base.html.twig' %}




{% block body %}
    <!-- The Modal -->
    <div id="myModal" class="modal">
        <!-- Modal content -->
        <div class="modal-content">
            <div class="modalHead">
                <div class="close">&times;</div>
            </div>
            <div class="modalBox" id="modalBox">

            </div>
        </div>

    </div>
    <div class="prContainer" id="prContainer">
    {% for product in products %}
        <div id="prWid{{ product.id }}" class="prWindow" onclick="openModal({{ product.id }})" onmouseout="hoverOne({{ product.id }})" onmouseover="hoverOne({{ product.id }})">
            <div class="prTitle"> <h5>{{ product.name }}</h5></div>
            <div class="prPhoto"></div>
            <div class="prUnderPhoto">
                <div class="prPrice">{{ product.price }} zł</div>
                <div class="prAddtoCartBtn"><button onclick="event.stopPropagation();addToCart('{{ product.id }}', '{{ product.name }}', getQuantity({{ product.id }}),findCheckedSize(),'niebieski', {{ product.price }}) ">dodaj</button></div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var modal = document.getElementById('myModal');

        // Get the <span> element that closes the modal
        var span = document.getElementsByClassName("close")[0];

        // When the user clicks on the button, open the modal
        function openModal(id) {
            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("modalBox").innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "http://127.0.0.1:8000/product/"+id, false);
            xhttp.send();
            modal.style.display = "block";
        }

        function addToCart(id, productName, quantity, size, color, price) {

            var count = document.getElementById("cartCount");

            if(id === null || productName === null || quantity === null || size === null || color === null || price === null)
            {

            }else {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        count.innerHTML = +count.innerHTML + +1;
                        addToCartSuccessMsg(id);
                    }
                };
                xhttp.open("GET", "addToCart/" + productName + "/" + quantity + "/" + size + "/" + color + "/" + price + "/", false);
                xhttp.send();

                updateCart();
            }



        }

        function addToCartSuccessMsg(id){
            var successMsg = document.getElementById("successfullyAdded"+id);

            successMsg.style.display = "block";
            setTimeout(function(){successMsg.style.display = "none"},3000)
        }

        function updateCart(){
            var cart = document.getElementById('shoppingCart');

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    cart.innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "http://127.0.0.1:8000/shoppingCart/", false);
            xhttp.send();
        }

        function findCheckedSize(){
            var checkedValue = null;
            var inputElements = document.getElementsByClassName('sizeRadio');
            for(var i=0; inputElements[i]; ++i){
                if(inputElements[i].checked){
                    checkedValue = inputElements[i].value;
                    break;
                }
            }
            return checkedValue;
        }

        function getQuantity(id) {
            var quantity = document.getElementById("quantityOf"+id).value;

            return quantity;
        }

        function hoverOne(id){
            var one = document.getElementById("prWid"+id);
            one.addEventListener("mouseover", mouseOver);
            one.addEventListener("mouseout", mouseOut);

            function mouseOver() {
                one.style.transform = "scale(1.02)";
            }

            function mouseOut() {
                one.style.transform = "scale(1)";
            }

        }

        // When the user clicks on <span> (x), close the modal
        span.onclick = function() {
            modal.style.display = "none";
        }

        // When the user clicks anywhere outside of the modal, close it
        window.onclick = function(event) {
            if (event.target == modal) {
                modal.style.display = "none";
            }
        }
    </script>
{% endblock %}