{% extends 'base.html.twig' %}




{% block body %}

    <div class="content">


        <div class="slideshow-container">
            <!-- Full-width images with number and caption text -->
            <div class="mySlides fading" style="display: block;">
                <div class="numbertext">1 / 2</div>
                <img src="{{ asset('photos/1.jpg') }}" style="width:100%">
                <div class="text">Caption Text</div>
            </div>
            <div class="mySlides fading">
                <div class="numbertext">2 / 2</div>
                <img src="{{ asset('photos/2.jpg') }}" style="width:100%">
                <div class="text">Caption Text</div>
            </div>

            <!-- Next and previous buttons -->
            <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
            <a class="next" onclick="plusSlides(1)">&#10095;</a>
        </div>
        <br>

        <!-- The dots/circles -->
        <div style="text-align:center">
            <span class="dot" onclick="currentSlide(1)"></span>
            <span class="dot" onclick="currentSlide(2)"></span>

        </div>
        <div class="page-title">
            <div class="line"></div>
            <label class="label">
                {% if category is not defined %}
                    Nowości
                {% else %}
                    {{ category }}
                {% endif %}
            </label>
            <div class="line"></div>
        </div>
        <!-- The Modal -->
        <div id="myModal" class="modal">
            <!-- Modal content -->
            <div id="modal-content" class="modal-content">
            </div>

        </div>
        <div class="prContainer" id="prContainer">
        {% for product in products %}
            <div id="prWid{{ product.id }}" class="prWindow" >
                {% if is_granted("ROLE_ADMIN") %}
                    <form id="deleteProduct" method="POST" action="{{ path('deleteProduct') }}">
                        <input hidden name="productIdToDelete" value="{{ product.id }}"/>
                        <button onclick="event.stopPropagation()">x</button>
                    </form>
                {% endif %}
                <div class="prPhoto">
                    <img src="../../photos/{{ product.photo }}" width="100%" height="100%" style="border-top-left-radius: 15px; border-top-right-radius: 15px;"/>
                </div>
                <div class="prUnderPhoto">
                    <div class="prTitle"> <h5>{{ product.name }}</h5></div>
                    <div class="prPrice">{{ product.price }} zł</div>
                </div>
            </div>
        {% endfor %}
        </div>
        <div style="clear:both"></div><br>
        <div style="z-index: 0" class="navigation text-center">
            {{ knp_pagination_render(products) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>


        $(document).ready(function(){
            $(".prWindow").mouseover(function(){
                hoverOne(this.id.replace("prWid",""));
                return false;
            });

            $(".prWindow").mouseout(function(){
                hoverOne(this.id.replace("prWid",""));
                return false;
            });

            $(".prWindow").click(function(){
                openModal(this.id.replace("prWid",""));
                return false;
            });

            $("#editProductButton").click(function(){

                return false;
            });
/*
            $(".prAddtoCartBtn").click(function(){
                addToCart(this.id.replace("prWid",""));
                return false;
            });
*/
            $('#progressWindow').on("change", ".deliveryMethod", function () {
                showOptions('delivery',this.id.replace("deliveryRadioLabel", ""));
            });

            $('.modal-content').on("change", ".sizeRadio", function () {
                showColors(this.value);
            });

            $('main').on("click", "#deleteItemFromCart", function () {
                deleteItemFromCart(this.value);
            });

            $('main').on("click", "#clearCart", function () {
                clearCart();
            });

            $('.modal').on("click", ".close", function () {
                modal.style.display = "none";
            });

            $('.modal').on("click", ".editFieldButton", function () {
                editFieldButton(this.value, this.id);
            });

            window.onclick = function(event) {
                if (event.target == modal) {
                    modal.style.display = "none";
                }
            }

        });

        $(document).ready(function() {
            $("#showCart").click(function () {
                showShoppingCart();
                return false;
            });

            $("#login").click(function () {
                login();
                return false;
            });

            $(window).scroll(function () {
                myFunction();
            });



        });



        var header = document.getElementById("header");
        var sticky = header.offsetTop;

        function myFunction() {


            if (window.pageYOffset > sticky) {
                header.classList.add("sticky");
            } else {
                header.classList.remove("sticky");
            }
        }

        function showColors(size){
            var labels = document.getElementsByClassName('labl size '+size);
            var labs = document.getElementsByClassName('labl size');

            for(var j=0; j<labs.length; j++){
                labs[j].style.display = "none";
            }

            for(var i=0; i<labels.length; i++){
                labels[i].style.display = "block";
            }
        }

        function login(){
            var xhttp = new XMLHttpRequest();
            var loginform = document.getElementById('loginform');
            if(loginform.style.display === "none"){
                if(loginform.innerHTML === ""){
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            loginform.innerHTML = this.responseText;

                        }
                    };
                    xhttp.open("GET", "{{ path('fos_user_security_login') }}", false);
                    xhttp.send();
                }
                loginform.style.display = "block";
            }else{
                loginform.style.display = "none";
            }
        }

        function showShoppingCart(){
            var cart = document.getElementById('shoppingCart');


            if (cart.style.display === 'none') {
                cart.style.display = 'block';
                if (cart.innerHTML === "") {
                    var xhttp = new XMLHttpRequest();
                    xhttp.onreadystatechange = function () {
                        if (this.readyState == 4 && this.status == 200) {
                            cart.innerHTML = this.responseText;
                        }
                    };
                    xhttp.open("GET", "{{ path('shoppingCart') }}", false);
                    xhttp.send();
                }
            } else {
                cart.style.display = 'none';
            }
        }


        var modal = document.getElementById('myModal');
        var span = document.getElementsByClassName("close")[0];

        function openModal(id) {
            var url = "{{ path('product', { 'id': 'idJS' }) }}";

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementById("modal-content").innerHTML = this.responseText;
                }
            };

            url = url.replace("idJS", id);

            xhttp.open("GET", url, false);
            xhttp.send();
            modal.style.display = "block";
        }

        function addToCart(id, productName, quantity, size, color, price) {
            var count = document.getElementById("cartCount");

            if(id === null || productName === null || quantity === null || size === null || color === null || price === null)
            {
                addToCartError();
            }else {
                var xhttp = new XMLHttpRequest();
                xhttp.onreadystatechange = function () {
                    if (this.readyState == 4 && this.status == 200) {
                        addToCartSuccessMsg(id);
                        count.innerHTML = +count.innerHTML + +1;
                    }
                };
                var url = "{{ path('addToCart', {'id':'idJS', 'product': 'productJS','quantity': 'quantityJS', 'size': 'sizeJS', 'color':'colorJS', 'price':'priceJS'})|escape('js') }}";
                url = url.replace("idJS", id);
                url = url.replace("productJS", productName);
                url = url.replace("quantityJS", quantity);
                url = url.replace("sizeJS", size);
                url = url.replace("colorJS", color);
                url = url.replace("priceJS", price);
                xhttp.open("GET", url, false);

                xhttp.send();

                updateCart();
            }



        }

        function editFieldButton(productId, name){
            var currentValue = document.getElementsByClassName('mPr'+name)[0].innerHTML;
            if (currentValue.includes("<input") === false){
                document.getElementsByClassName('mPr'+name)[0].innerHTML = "<input id='originInput' type='text' placeholder='"+ currentValue +"'/>";
                document.getElementById(name).innerHTML = "Update";

            }else{
                 updateProductField(productId, name, document.getElementById('originInput').value)
            }
        }

        function updateProductField(id, name, fieldValue) {

            let vars = name+"="+fieldValue;

            var xhttp = new XMLHttpRequest();

            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    document.getElementsByClassName('mPr'+name)[0].innerHTML = fieldValue;
                    document.getElementById(name).innerHTML = "Edit";

                    if(name === "Brand"){
                        document.getElementById('brandLink').innerHTML = fieldValue;
                    }
                }
            };

            var url = "{{ path('updateProductInfo', {'id': 'idJS'}) }}";

            url = url.replace("idJS", id);

            xhttp.open("PUT", url, false);
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.send(vars);
        }

        function addToCartSuccessMsg(id){
            var successMsg = document.getElementById("successfullyAdded"+id);

            successMsg.style.display = "block";
            setTimeout(function(){successMsg.style.display = "none"},3000)
        }

        function addToCartError(){
            var errormsg = document.getElementById("addToCartError");

            errormsg.style.display = "block";
            setTimeout(function(){errormsg.style.display = "none"},3000)
        }

        function updateCart(){
            var cart = document.getElementById('shoppingCart');

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    cart.innerHTML = this.responseText;
                }
            };
            xhttp.open("GET", "{{ path('shoppingCart') }}", false);
            xhttp.send();
        }

        function deleteItemFromCart(id) {
            var cart = document.getElementById('shoppingCart');
            var url = "{{ path('deleteItemFromCart', { 'id': 'idJS' }) }}";
            var cartItemsCount = document.getElementById('cartCount');

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    cart.innerHTML = this.responseText;
                    cartItemsCount.innerHTML = (+cartItemsCount.innerHTML - +1).toString();
                }
            };

            url = url.replace("idJS", id);

            xhttp.open("GET", url, false);
            xhttp.send();
        }

        function clearCart(){
            var cart = document.getElementById('shoppingCart');
            var cartItemsCount = document.getElementById('cartCount');

            var xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function () {
                if (this.readyState == 4 && this.status == 200) {
                    cart.innerHTML = this.responseText;
                    cartItemsCount.innerHTML = "0";
                }
            };
            xhttp.open("GET", "{{ path('clearCart') }}", false);
            xhttp.send();
        }

        function findCheckedRadio(classname){
            var checkedValue = null;
            var inputElements = document.getElementsByClassName(classname);
            for(var i=0; inputElements[i]; ++i){
                if(inputElements[i].checked){
                    checkedValue = inputElements[i].value;
                    break;
                }
            }
            return checkedValue;
        }

        function getQuantity(id) {
            var quantity = document.getElementById("quantityOf"+id).value;

            return quantity;
        }

        function hoverOne(id){
            var one = document.getElementById("prWid"+id);
            one.addEventListener("mouseover", mouseOver);
            one.addEventListener("mouseout", mouseOut);

            function mouseOver() {
                one.style.transform = "scale(1.02)";
            }

            function mouseOut() {
                one.style.transform = "scale(1)";
            }

        }


    </script>
{% endblock %}