<div class="modalNav"> {{ product.sex }}>{{ product.category }}>{{ product.brand }}</div>

<div class="leftSide">
    <div class="mPrPhoto"></div>
</div>

<div class="rightSide">
    <div class="mPrTitle"><h4>{{ product.name }}</h4></div>
    <div style="clear:both"></div>
    <div class="mPrDescription">{{ product.description }}</div>
    <div class="mPrPrice">{{ product.price }}</div>
    <button>dodaj do koszyka</button>
</div>