<div class="modalNav"> {{ product.sex }}>{{ product.category }}>{{ product.brand }} </div>
<div class="productInfo">
    <div class="leftSide">
        <div class="mPrPhoto"></div>
    </div>

    <div class="rightSide">
        <div class="mPrTitle"><h4>{{ product.name }}</h4></div>
        <div style="clear:both"></div>
        <div class="mPrDescription">{{ product.description }}</div>
        <br><br>
        Dostępne rozmiary:
        {% for productSize in productSizes %}
        <label class="labl">
            <input class="sizeRadio" type="radio" name="sizeRadio" value="{{ productSize.name }}"/>
            <div>
                {{ productSize.name }}
            </div>
        </label>
        {% endfor %}
        <br>
        Dostępne kolory:
        {% for sizes in product.size %}
            {% for size in sizes.color %}
                <label style="display: none;" class="labl size {{ sizes.name }}">
                    <input  class="colorRadio" type="radio" name="colorRadio" value="{{ size.color }}"/>
                    <div>
                        {{ size.color }}
                    </div>
                </label>
            {% endfor %}
        {% endfor %}
        <br>
        <input type="number" id="quantityOf{{ product.id }}" value="1">
        <div id="price" class="mPrPrice" style="float:left">{{ product.price }} zł </div>
        <div style="clear:both"></div>
        <button id="addToCartButton" onclick="addToCart('{{ product.id }}','{{ product.name }}', getQuantity({{ product.id }}),findCheckedRadio('sizeRadio'),findCheckedRadio('colorRadio'), {{ product.price }}); event.stopPropagation()">dodaj do koszyka</button>
        <div class="successfullyAdded" id="successfullyAdded{{ product.id }}" style="display:none">Pomyślnie dodano produkt</div>
    </div>
</div>

<div class="reviews">
    {% if not productReviews %}
        Brak opinii
    {% else %}
        {% for productReview in productReviews %}
        {{ productReview.rating }}>{{ productReview.content }}
        {% endfor %}
    {% endif %}
</div>

