<div class="modalNav"> {{ productDetails.sex }}>{{ product.category }}>{{ productDetails.brand }} </div>
<div class="productInfo">
    <div class="leftSide">
        <div class="mPrPhoto"></div>
    </div>

    <div class="rightSide">
        <div class="mPrTitle"><h4>{{ product.name }}</h4></div>
        <div style="clear:both"></div>
        <div class="mPrDescription">{{ product.description }}</div>
        <br><br>
        Dostępne rozmiary:
        {% for productSize in productSizes %}
        {{ productSize.name }}
        {% endfor %}
        <br>
        Dostępne kolory:
        {% for productColor in productColors %}
            {{ productColor.Color }}
        {% endfor %}
        <br>
        <div id="price" class="mPrPrice" style="float:left">{{ product.price }} zł </div>
        <div style="clear:both"></div>
        <button type="button" onclick="addToCart({{ product.name }},2,'M','Niebieski')">dodaj do koszyka</button>
    </div>
</div>

<div class="reviews">
    {% if not productReviews %}
        Brak opinii
    {% else %}
        {% for productReview in productReviews %}
        {{ productReview.rating }}>{{ productReview.content }}
        {% endfor %}
    {% endif %}
</div>

<script>
    function addToCart(product, quantity, size, color) {
        var price = document.getElementById("price");
        var count = document.getElementById("cartCount");
        var xhttp = new XMLHttpRequest();
        xhttp.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                count.innerHTML = "1";
            }
        };
        xhttp.open("GET", "addToCart/Koszulkaaaaxd/1/M/Czerwony/", false);
        xhttp.send();
    }
</script>