<div class="modalHead">
    <div class="modalNav"> <a href="">{{ product.sex }}</a>> <a href="">{{ product.category }}</a> > <a id="brandLink" href=""> {{ product.brand }}</a> </div>
    <div class="close">&times;</div>
</div>
<div class="productInfo">
    <div class="leftSide">
        <div class="mPrPhoto" >
            <img src="../../photos/{{ product.photo }}" width="100%" />
        </div>
    </div>

    <div class="rightSide">
        <div class="mPrTitle"><h4>{{ product.name }}</h4></div>
        <div style="clear:both"></div>
        <div class="productGeneralInfo">
            <div class="mPrBrand">
                {{ product.brand }}
            </div>
            {% if is_granted("ROLE_ADMIN") %}
                <button class="editFieldButton" id="Brand" value="{{ product.id }}">edit</button>
            {% endif %}
            <div class="mPrOrigin">
                {{ product.origin }}
            </div>
            {% if is_granted("ROLE_ADMIN") %}
                <button class="editFieldButton" id="Origin" value="{{ product.id }}">edit</button>
            {% endif %}

            <div class="mPrMaterials">
                {{ product.materials }}
            </div>
            {% if is_granted("ROLE_ADMIN") %}
                <button class="editFieldButton" id="Materials" value="{{ product.id }}">edit</button>
            {% endif %}
            <div class="mPrDescription">
                {{ product.description }}
            </div>
            {% if is_granted("ROLE_ADMIN") %}
                <button class="editFieldButton" id="Description" value="{{ product.id }}">edit</button>
            {% endif %}
        </div>
        <br><br>
        <div class="availableSizes">
            Dostępne rozmiary:
            {% for productSize in product.size %}
            <label class="labl">
                <input class="sizeRadio" type="radio" name="sizeRadio" value="{{ productSize.name }}"/>
                <div>
                    {{ productSize.name }}
                </div>
            </label>
                <div>
                    Rozmiar 1: {{ productSize.sizeOne }}<br>
                    Rozmiar 2: {{ productSize.sizeTwo }}<br>
                    Rozmiar 3: {{ productSize.sizeThree }}<br>
                </div>
            {% endfor %}
        </div>
        <br>
        <div class="availableColors">
            Dostępne kolory:
            {% for sizes in product.size %}
                {% for size in sizes.color %}
                    <label style="display: none;" class="labl size {{ sizes.name }}">
                        <input  class="colorRadio" type="radio" name="colorRadio" value="{{ size.color }}"/>
                        <div>
                            {{ size.color }}
                        </div>
                        {% if is_granted("ROLE_ADMIN") %}
                            <button class="editFieldButton" id="deleteColorFromProduct" value="{{ size.color }}">x</button>
                        {% endif %}
                    </label>

                {% endfor %}
                {% if is_granted("ROLE_ADMIN") %}
                    <button class="editFieldButton" id="addColorToProduct" value="{{ sizes.id }}">Dodaj Kolor</button>
                {% endif %}
            {% endfor %}

        </div>
        <br>
        <input type="number" id="quantityOf{{ product.id }}" value="1">
        <div id="price" class="mPrPrice" style="float:left">{{ product.price }} zł </div>
        <div style="clear:both"></div>
        <button id="addToCartButton" onclick="addToCart('{{ product.id }}','{{ product.name }}', getQuantity({{ product.id }}),findCheckedRadio('sizeRadio'),findCheckedRadio('colorRadio'), {{ product.price }}); event.stopPropagation()">dodaj do koszyka</button>
        <div id="addToCartError" style="display: none">Proszę wybrać rozmiar i kolor</div>
        <div class="successfullyAdded" id="successfullyAdded{{ product.id }}" style="display:none">Pomyślnie dodano produkt</div>
        <div id="test"></div>
    </div>
</div>

<div class="reviews">
    {% if product.review is empty %}
        Brak opinii
    {% else %}
        {% for productReview in product.review %}
            {{ productReview.rating }}>{{ productReview.content }}<br>
        {% endfor %}
    {% endif %}
</div>
