<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">
            <link href="{{ asset('build/css/mainpage.css') }}" rel="stylesheet" >
            <link href="{{ asset('build/css/modal.css') }}" rel="stylesheet" >
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        {% endblock %}
    </head>

    <body id="body">
        <div class="background-image"></div>
        <main>

        {% block header %}
            <div class="logo">
                <a href="{{ path('main') }}"></a>
            </div>
            <header id="header">

                <div class="header-background"></div>
                <nav class="navbar navbar-expand-lg" id="navbarExpandLg">

                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <i class="fa fa-reorder"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul>
                            <li>
                                <a class="nav-bar-text-button" href="#">Nowości</a>
                            </li>
                            <li>
                                <a class="nav-bar-text-button" href="#">Popularne</a>
                            </li>
                            <li class="nav-item dropdown" style="border-right: solid 0px">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Kategorie
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('productsCategory', {'category':'T-Shirt'}) }}">T-shirt</a>
                                    <a class="dropdown-item" href="{{ path('productsCategory', {'category':'Hoodie'}) }}">Hoodie</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">Wysłane</a>
                                </div>
                            </li>
                            {% if is_granted("ROLE_ADMIN") %}
                                <li style="border-left: solid 1px deepskyblue; border-right: solid 0px; margin-left:-5px; padding-left:10px">
                                    <a class="nav-bar-text-button" href="{{ path('adminpanel') }}" >Panel Admina</a>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                    <div class="right-nav-bar">
                            <div class="circle">
                                <a class="nav-bar-circle-button" id="showCart" href=""><i class="fa fa-cart-arrow-down"></i></a>
                            </div>
                            <div class="login-form" id="loginform" style="display: none"></div>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <div class="circle" style="margin-right: 20px" >
                                <a class="nav-bar-circle-button" id="login" href=""><i style="padding-left: 5px" class="fa fa-user-o"></i></a>
                            </div>
                        {% else %}
                            <div class="circle" style="margin-right: 20px" >
                                <a class="nav-bar-circle-button" id="login" href=""><i style="padding-left: 5px" class="fa fa-user-o"></i></a>
                            </div>
                        {% endif %}

                    </div>
                </nav>

                <div id="underline" class="nav-underline"></div>



                <!--
                <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="{{ path('main') }}">Main Page</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>

                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item active">
                                <a class="nav-link" href="#">Nowości <span class="sr-only">(current)</span></a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#">Najpopularniejsze</a>
                            </li>
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Kategorie
                                </a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <a class="dropdown-item" href="{{ path('productsCategory', {'category':'T-Shirt'}) }}">T-Shirt</a>
                                    <a class="dropdown-item" href="{{ path('productsCategory', {'category':'Hoodie'}) }}">Hoodie</a>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('productsCategory', {'category':'Spódnica'}) }}">Spódnica</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link disabled" href="#">Disabled</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="showCart">Koszyk <div id="cartCount">
                                        {{ app.session.get('shoppingCart')|length }}  </div></a>
                            </li>

                            {% if is_granted("ROLE_ADMIN") %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ path('adminpanel') }}" >Panel Admina</a>
                                </li>
                            {% endif %}
                            {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                                <a href="{{ path('fos_user_security_logout') }}">
                                    {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                                </a>
                            {% else %}
                                <li class="nav-item">
                                    <a class="nav-link login" id="login">Zaloguj się</a>
                                </li>
                            {% endif %}
                            <div id="loginform" style="display: none"></div>
                        </ul>

                    </div>
                </nav>
                -->
            </header>
        {% endblock %}
            <div class="shopppingCart" id="shoppingCart"></div>
        {% block body %}

        {% endblock %}
            </div>

         </main>
        </body>
        {% block footer %}{% endblock %}
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
        <script>
            $(document).ready(function() {
                $("#showCart").click(function () {
                    myFunction();
                    return false;
                });

                $("#login").click(function () {
                    login();
                    return false;
                });


            });


            $(window).scroll(function () {
                myFunction();
            });

            var header = document.getElementById("header");
            var sticky = header.offsetTop;

            function myFunction() {

                if (window.pageYOffset > sticky) {
                    header.classList.add("sticky");
                } else {
                    header.classList.remove("sticky");
                }
            }


            function login(){
                const xhttp = new XMLHttpRequest();
                var loginform = document.getElementById('loginform');
                if(loginform.style.display === "none"){
                    if(loginform.innerHTML === ""){
                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                loginform.innerHTML = this.responseText;

                            }
                        };
                        xhttp.open("GET", {{ path('fos_user_security_login') }}, false);
                        xhttp.send();
                    }
                    document.getElementById('login').style.display="none";
                    loginform.style.display = "block";
                }else{
                    loginform.style.display = "none";
                }
            }



            function showShoppingCart(){
                var cart = document.getElementById('shoppingCart');


                if (cart.style.display === 'none') {
                    cart.style.display = 'block';
                    if (cart.innerHTML === "") {
                        var xhttp = new XMLHttpRequest();
                        xhttp.onreadystatechange = function () {
                            if (this.readyState == 4 && this.status == 200) {
                                cart.innerHTML = this.responseText;
                            }
                        };
                        xhttp.open("GET", {{ path('shoppingCart') }}, false);
                        xhttp.send();
                    }
                } else {
                    cart.style.display = 'none';
                }
            }


        </script>

        <script>
            var slideIndex = 1;
            showSlides(slideIndex);



            // Next/previous controls
            function plusSlides(n) {
                showSlides(slideIndex += n);
            }

            // Thumbnail image controls
            function currentSlide(n) {
                showSlides(slideIndex = n);
            }

            var slideShow = 0;
            automaticSlides();

            function automaticSlides() {
                var i;
                var slides = document.getElementsByClassName("mySlides fading");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideShow++;
                if (slideShow > slides.length) {slideShow = 1}
                slides[slideShow-1].style.display = "block";
                setTimeout(automaticSlides, 8000); // Change image every 2 seconds
            }

            function showSlides(n) {
                var i;
                var slides = document.getElementsByClassName("mySlides fading");
                var dots = document.getElementsByClassName("dot");
                if (n > slides.length) {slideIndex = 1}
                if (n < 1) {slideIndex = slides.length}
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex-1].style.display = "block";
                dots[slideIndex-1].className += " active";

            }
        </script>
        {% block javascripts %}
            {% endblock %}
    </body>
</div>
</html>
